In [64]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import mean_squared_error, r2_score

plt.rcParams['figure.figsize'] = [15, 8]

In [65]:
np.set_printoptions(suppress=True)

In [66]:
boston = tf.keras.datasets.boston_housing.load_data()
X_train = boston[0][0]
Y_train = boston[0][1]

X_test = boston[0][0]
Y_test = boston[0][1]

c = ["crim", "zn", "indus", "chas", "nox", "rm", "age", "dis", "rad", "tax", "ptratio", "black", "lstat", 'medv']
boston = pd.DataFrame({c: X_train[:, i] for i, c in enumerate(c[:-1])})
boston_test = boston
boston[c[-1]] = Y_train
boston.drop(boston.columns[[1,2,3,4,7,8,9,10,12,13]], axis=1, inplace=True)
boston

        crim     rm    age   black
0    1.23247  6.142   91.7  396.90
1    0.02177  7.610   15.7  395.38
2    4.89822  4.970  100.0  375.52
3    0.03961  6.037   34.5  396.90
4    3.69311  6.376   88.4  391.43
..       ...    ...    ...     ...
399  0.21977  5.602   62.0  396.90
400  0.16211  6.240   16.3  396.90
401  0.03466  6.031   23.3  362.25
402  2.14918  5.709   98.5  261.95
403  0.01439  6.604   18.8  376.70

[404 rows x 4 columns]

In [67]:
from sklearn.linear_model import LinearRegression

In [68]:
regr = LinearRegression()
print (regr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
regr.fit(boston, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [70]:
pred = regr.predict(boston_test)

#print (pred)
#print (Y_test)

In [74]:
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(Y_test, pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(Y_test, pred))

Coefficients:
 [-0.13956785  7.7386945  -0.04142539  0.01639132]
Mean squared error: 37.00
Variance score: 0.56

When training a linear regression model with CriminalRate, Number of Rooms, Age of the property and Black we can see that the Number of Rooms clearly hat the biggest influence on the Median Value (because of highest coefficient).